
@{
    ViewBag.Title = "Index";
}
<div class="text-center">
    <p>hipster preTense entertainment presents:</p>
    <h3>ANOTHER TERRIBLE SHOW AT THE SILVER DOLLAR ROOM!</h3>
    <br/>
    <img src="~/Content/b17-Silver-D-408.jpg" width="500" />
    <br/>
    <h4>and there's no guest list!!</h4>
    <div class="btn btn-success">
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</div>