@model ShowInvite.Models.GuestResponse

@{
    ViewBag.Title = "Thanks";
}
@{ 
    try
    {
        WebMail.SmtpServer = "smtp.gmail.com";
        WebMail.SmtpPort = 587;
        WebMail.EnableSsl = true;
        WebMail.UserName = "really?@what.com";
        WebMail.Password = "what idiot hard-codes their password on a network drive?";
        WebMail.From = "rsvp@example.com";
        WebMail.Send("", "RSVP notification", Model.name + " is " + ((Model.attending ?? false) ? "" : "not") + " attending");
    }
    catch (Exception)
    {
        @:<b>Sorry - couldn't send the confirmation</b>
    }
}
<div class="text-center">
    <h1>Thank you, @Model.name</h1>
    <div class="lead">
        @if(Model.attending == true)
    {
            @:That's great you're coming
        }
        else
        {
            @:Sorry to hear you won't support local music. Racist.
        }
    </div>
</div>